:root {
  --tableColor-red: #fdcdcb;
  --tableColor-orange: #fac6ae;
  --tableColor-yellow: #fce4a2;
}

.container-bg {
  background-image: url("@/assets/images/bg01.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container {
  width: 90%;
  max-width: 1600px;
  min-width: 800px;
  padding-bottom: 50px;
}

header {
  height: 50%;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3);
}

.title-row {
  margin: 10px;
  margin-top: 0px;
}

.swiperClass {
  margin-bottom: 10px;
}

.sampleSwiper img {
  width: 100%;
  height: auto;
  object-fit: cover; /* 裁剪圖片保持比例並填滿*/
}

form-row {
  margin-top: 10px;
}

.footer-div {
  background-color: var(--bs-dark-bg-subtle);
  /* height: 30%; */
  width: 100%;
}

.button-tooltip-wrapper {
  position: relative; /* 讓它相對於按鈕定位 */
}

.tooltipBtn {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  position: relative;
}

.tooltipModel {
  position: absolute;
  bottom: 100%; /* 調整到按鈕下方 */
  left: 50%;
  transform: translateX(-50%); /* 讓提示框水平居中 */
  background: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  text-align: center;
  z-index: 10;
  max-width: 200px;
  word-wrap: break-word;
}
